.App-header {
    background-color: #282c34;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(241, 161, 161);
  }
  
  .App-body {
    background-color: #3a5363;
    min-height: calc(100vh - 200px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px);
    color: white;
  }

  .App {
    text-align: center;
}